/* #####################
#   general
 #######################*/
html {
  height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}

main {
  display: table-row;
  height: 100%;
}

.clear {
    clear: both;
}

h1 {
    color:darkgray;
}

.dir-rtl { direction: rtl; }
.dir-ltr { direction: ltr; }

.toggle-link {
    color: blue;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}

.font-small {
    font-size: small;
}

/* #####################
#   buttons
 #######################*/
.btn-xs,
.btn-group-xs > .btn {
    padding: 0 0.35rem;
    font-size: 0.675rem;
    border-radius: 0.3rem;
}


/* #####################
#   navigation
 #######################*/
.navbar .row {
    width: 100%;
}

.navbar .navbar-brand {
    width:100%;
    margin-right: 0;
}

.navbar .navbar-brand p {
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand img {
    margin-right: 1em;
    max-height: 60px;
    object-fit: contain;
    align-self: center;
    flex: 0 0 auto;
}


/* #####################
#   query form
 #######################*/
.query-text textarea,
.query-pattern input {
    width: 100%;
    line-height: 2em;
    font-family: Amiri;
    font-weight: normal;
    font-size: 18px;
}

#query-settings .border-box {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#query-settings {
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}

.query-setting input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 5px;
}

.query-setting label {
    display: inline;
    font-size: small;
}

.query-settings-group h3,
.query-settings-group .h3 {
    font-size: 1.05rem;
}


/* #####################
#   query result
 #######################*/
#result-wrapper {
    font-family: Amiri;
    font-weight: normal;
    font-size: 18px;
}

#result-wrapper span.highlight {
    background-color: yellow;
}

#result-wrapper span.highlight.mark {
    background-color: orange;
    padding: 0;
}

#result-fulltext {
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 2em;
}

.result-list-item {
    cursor: pointer;
}


/* #####################
#   direction switch element
 #######################*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input { opacity: 0; width: 0; height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #59f321;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


/* #####################
#   CSS help icon
 #######################*/
button.help-me,
span.help-me {
    display:inline-block;
    width:16px;
    height:16px;
    padding: 0;
    color:#0d6efd;
    background-color:#fff;
    border: 1px solid #0d6efd;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}


/* #####################
#   footer
 #######################*/
footer {
    display: table-row;
    font-size: small;
}