<!-- Modal -->
<div class="modal help-modal fade" id="helpDiacritics" tabindex="-1" role="dialog" aria-labelledby="helpDiacriticsTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpDiacriticsTitle">Option "Ignore all diacritics"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    If checked, all diacritics except letter dots in the search pattern are ignored, i.e. searching for <i>kutiba</i> finds <i>kataba</i> as well.
                </p>
                <p class="text-muted small">Default value: true</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>