<!-- Modal -->
<div class="modal help-modal fade" id="helpExact" tabindex="-1" role="dialog" aria-labelledby="helpExactTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpExactTitle">Option "Exact search"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    If checked, only the exact same sequence of Unicode characters as provided in the “pattern to search” field is matched.
                </p>
                <p class="text-muted small">Default value: true</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>