<!-- Modal -->
<div class="modal help-modal fade" id="helpHa" tabindex="-1" role="dialog" aria-labelledby="helpHaTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpHaTitle">Option "Consider different forms of <i>hāʾ</i>"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    If checked, Unicode signs for <i>hāʾ</i> are treated as different characters, i.e. “regular” Arabic <i>hāʾ</i> (U+0647),
                    the two distinct forms of <i>hēʾ</i> used in Urdu (U+06BE, U+06C1) as well as <i>tāʾ marbūṭa</i> (U+0629).
                </p>
                <p class="text-muted small">Default value: false</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>