<!-- Modal -->
<div class="modal help-modal fade" id="helpHamza" tabindex="-1" role="dialog" aria-labelledby="helpHamzaTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpHamzaTitle">Option "Ignore different carriers of <i>hamza</i>"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    If checked, any <i>hamza</i> will be matched, irrespective of its carrier,
                    i.e. the following characters will be treated as identical: U+0621, U+0623 – U+0626, and U+06C2.
                </p>
                <p class="text-muted small">Default value: true</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>