<!-- Modal -->
<div class="modal help-modal fade" id="helpRasm" tabindex="-1" role="dialog" aria-labelledby="helpRasmTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpRasmTitle">Option "Use rasm for search"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                If checked, the underlying rasm of the text in the search field as well as in the pattern field is
                considered, i.e. no diacritic letter dots are considered, only the shapes of letters. Latin letters can
                be used in the “pattern to search” field following Thomas Milo’s archigraphemic system:
                </p>

                <div class="container">
                    <div class="row">
                        <div class="col-2 col-sm-1">ا</div><div class="col-2 col-sm-1">A</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ڡ</div><div class="col-3 col-sm-2">F</div>

                        <div class="col-2 col-sm-1">ٮ</div><div class="col-2 col-sm-1">B</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ٯ</div><div class="col-3 col-sm-2">[F] -Q</div>

                        <div class="col-2 col-sm-1">ح</div><div class="col-2 col-sm-1">G</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ٯك</div><div class="col-3 col-sm-2">K</div>

                        <div class="col-2 col-sm-1">د</div><div class="col-2 col-sm-1">D</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ل</div><div class="col-3 col-sm-2">L</div>

                        <div class="col-2 col-sm-1">ر</div><div class="col-2 col-sm-1">R</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">م</div><div class="col-3 col-sm-2">M</div>

                        <div class="col-2 col-sm-1">س</div><div class="col-2 col-sm-1">S</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ں</div><div class="col-3 col-sm-2">[B] -N</div>

                        <div class="col-2 col-sm-1">ص</div><div class="col-2 col-sm-1">C</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ه</div><div class="col-3 col-sm-2">H</div>

                        <div class="col-2 col-sm-1">ط</div><div class="col-2 col-sm-1">T</div>
                        <div class="col-3 col-sm-7">&nbsp;</div>
                        <div class="col-2 col-sm-1">ی</div><div class="col-3 col-sm-2">[B] -Y</div>

                        <div class="col-2 col-sm-1">ع</div><div class="col-2 col-sm-1">E</div>
                        <div class="col-8 col-sm-10">&nbsp;</div>
                    </div>
                </div>

                <p class="mt-3">
                    Q, N, and Y represent only the final forms of their respective letters.
                    In non-final position, Q adopts the shape of F, while N and Y adopt the shape of B.
                    For example, كبير or KBBR will match كثير.
                </p>
                <p class="text-muted small">Default value: true</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>