<!-- Modal -->
<div class="modal help-modal fade" id="helpTanwin" tabindex="-1" role="dialog" aria-labelledby="helpTanwinTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpTanwinTitle">Option "Consider orthographic variants of <i>tanwīn</i>"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    If checked, different forms of <i>tanwīn</i> diacritics will be treated as different characters,
                    e.g. <i>ḍammatān</i> (U+064C), open <i>ḍammatān</i> (U+08F1) and double <i>ḍamma</i> (U+064F U+064F).
                    This also includes diacritics with assimilation according to <i>taǧwīd</i> (rules of Quranic recitation) and
                    the frequent switching of <i>alif</i> and <i>fatḥatān</i>.
                </p>
                <p class="text-muted small">Default value: false</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>