<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Yakabikaj Search Algorithm - COBHUNI - Universität Hamburg</title>{% endblock %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-dark bg-dark container-fluid">

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
            <a class="navbar-brand" href="#">

                <div class="d-flex">
                    <img src="{% static 'assets/logo-cobhuni.jpg' %}"
                         class="d-inline-block align-top"
                         alt="COBUNI - Universität Hamburg" >

                    <div>
                        <p>Yakabikaj Search Algorithm</p>
                        <span class="small">COBHUNI - Universität Hamburg</span>
                    </div>
                </div>

            </a>
        </div>
    </div>

</nav>

<main>
    <div class="container-fluid mt-5 mb-5">

        <div class="row">
            <div class="col-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                {% block content %}{% endblock %}

                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}

            </div>
        </div>

    </div>
</main>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Search algorithm developed by Dr. Alicia González Martínez<br>
        Graphical user interface developed by Sven Längler and Dr. Florian Jäckel<br>
        © 2021 Copyright COBHUNI - ERC-Project | Universität Hamburg
    </div>
</footer>

<!-- include JS -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}" async=""></script>

</body>
</html>
