{% extends "base_generic.html" %}

{% block content %}

    <div id="query-form" class="row{% if submitted %} d-none{% endif %}">
        <div class="col-12">
            {% include "form/form.html" %}
        </div>
    </div>


    {% if submitted %}
        <div class="row">
            <div class="col-12">
                <div id="toggle-query-form" class="toggle-link small">
                    Alter query
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="mb-5">Search results</h2>
                {% include "results.html" %}
            </div>
        </div>
    {% endif %}

{% endblock %}
