<div id="result-wrapper" class="dir-ltr">
    <div class="row">

        <div class="col-12 col-lg-7">
            <div id="result-fulltext">
                {{ result.fulltext | safe }}
            </div>
        </div>

        <div class="col-12 col-lg-5 mt-5 mt-lg-0">
            <div id="result-list">
                {%  if result.matches|length > 0 %}
                    {% for m in result.matches %}
                        <p class="result-list-item"
                           data-offset-from="{{ m.offset.from }}"
                           data-offset-to="{{ m.offset.to }}"
                           data-bs-toggle="tooltip"
                           data-bs-placement="right"
                           data-bs-fallbackPlacements="left"
                           title="Offset: {{ m.offset.range }} | Pattern: {{ m.pattern }}">

                            {{ m.idx }} <b>{{ m.search }}</b>: {{ m.context.html | safe }}

                        </p>
                    {% endfor %}
                {% else %}
                    <p class="mx-auto text-center">no matches found</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>