<form action="" method="post">
    {% csrf_token %}

    <table>

        <div class="field-wrapper query-text">
            {{ form.TEXT.errors }}
            <label for="{{ form.TEXT.id_for_label }}">Text to search:</label><br>
            {{ form.TEXT }}
        </div>

        <div class="field-wrapper query-rtl-ltr d-flex justify-content-end">
            <small>LTR</small>&nbsp;
            <label for="{{ form.RTL.id_for_label }}" class="switch mx-2" id="ltr-rtl-switch">
              {{ form.RTL }}
              <span class="slider round"></span>
            </label>
            &nbsp;<small>RTL</small>
        </div>

        <div class="field-wrapper query-pattern mt-3">
            {{ form.PAT.errors }}
            <label for="{{ form.PAT.id_for_label }}">Pattern to search:</label>
            {{ form.PAT }}
        </div>

        <div id="toggle-query-settings" class="mt-3 toggle-link small float-start">
            Show settings
        </div>

        <div id="query-settings" class="clear">
            {% include "form/settings.html" %}
            {% include "help/404.html" %}
        </div>

        {{ form.non_field_errors }}

    </table>

    <input type="submit" value="Submit" class="mt-3 mb-5 btn btn-primary">

</form>