<!-- Modal -->
<div class="modal load-modal fade" id="loadConfig" tabindex="-1" role="dialog" aria-labelledby="loadConfigTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadConfigTitle">Load settings by configuration code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="load_settings_code" class="col-form-label">Configuration code:</label>
                    <input type="number" class="form-control" name="load_settings_code" id="load_settings_code" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary mr-auto" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnLoadConfig" class="btn btn-primary" data-bs-dismiss="modal">Load</button>
            </div>
        </div>
    </div>
</div>