<div class="container-fluid border-box">
    <div class="row">

        <div class="query-settings-group col-12 col-sm-6 col-xl-4">
            <h3 class="mt-3 mt-sm-0"><i>Rasm</i> and letters</h3>
            {% include "form/setting.html" with field=form.RASM label='Use <i>rasm</i> for search' help_target='rasm' id=2 %}
            {% include "form/setting.html" with field=form.UNIVERSAL_HA label='Consider different forms of <i>hāʾ</i>' help_target='ha' id=3 %}
            {% include "form/setting.html" with field=form.MULTISHAPE_HAMZA label='Ignore different carriers of <i>hamza</i>' help_target='hamza' id=4 %}
        </div>

        <div class="query-settings-group col-12 col-sm-6 col-xl-4">
            <h3 class="mt-3 mt-sm-0">Diacritics</h3>
            {% include "form/setting.html" with field=form.DIAC_SYNONYM label='Consider orthographic variants of <i>tanwīn</i>' help_target='tanwin' id=5 %}
            {% include "form/setting.html" with field=form.IGNORE_DIAC label='Ignore all diacritics' help_target='diacritics' id=6 %}
        </div>

        <div class="query-settings-group col-12 col-sm-6 col-xl-4">
            <h3 class="mt-3 mt-xl-0">General Settings</h3>
            {% include "form/setting.html" with field=form.EXACT label='Exact search' help_target='exact' id=1 %}

            <p id="manage-settings" class="m-0 mt-2">
                <small class="text-muted font-small">Current configuration code&nbsp;</small>
                <small class="current-settings-code me-2 text-muted fw-bold font-small">0</small>
            </p>

            <button type="button"
                    class="btn btn-outline-secondary btn-xs"
                    data-toggle="modal"
                    data-target="#loadConfig">Load configuration</button>

            {% include "form/load_settings.html" %}
        </div>

    </div>
</div>