<div class="query-setting">

    {{ field }}<label for="{{ field.id_for_label }}" data-id="{{ id }}">{{ label }}</label>
    {{ field.errors }}

    {% if help_target %}
        <span data-bs-toggle="tooltip" data-bs-placement="right" title="ID: {{ id }}">
            <button type="button"
                    class="help-me"
                    data-toggle="modal"
                    data-target="#help{{ help_target|lower|capfirst }}"
                    data-setting-id="{{ id }}">?</button>
        </span>

        {%  if help_target != '404' %}
            {% with template_name=help_target|lower|stringformat:"s"|add:".html" %}
                {% include "help/"|add:template_name %}
            {% endwith %}
        {% endif %}
    {% endif %}

</div>
