/* #####################
#   font: Amiri
 #######################*/
@font-face {
    font-family: Amiri;
    src: url('../fonts/amiri/Amiri-Regular.ttf') format('ttf');
    src: local(Amiri), url('../fonts/amiri/Amiri-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Amiri;
    src: url('../fonts/amiri/Amiri-Bold.ttf') format('ttf');
    src: local(Amiri), url('../fonts/amiri/Amiri-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Amiri;
    src: url('../fonts/amiri/Amiri-Italic.ttf') format('ttf');
    src: local(Amiri), url('../fonts/amiri/Amiri-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Amiri;
    src: url('../fonts/amiri/Amiri-BoldItalic.ttf') format('ttf');
    src: local(Amiri), url('../fonts/amiri/Amiri-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}